# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Jupyter artifacts
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# IDE settings
.vscode/
.idea/

# Generated outputs
output/
